# Ignore everything in this directory
backend/auth/README
backend/controllers/README
backend/db/migrations/README
backend/db/seed/README
backend/lib/README
backend/config/environments/README
backend/config/locales/README
!.gitignore
# Except this file